FB_APP_ID=1748220689689304
FB_APP_SECRET=6c5421fc9134212b96096e5a4b6f5eb8
SESSION_SECRET=meta-ads-meu-segredo-2024-xpto
PORT=3000
# Groq é GRATUITO — crie sua chave em https://console.groq.com
GROQ_API_KEY=sua_chave_groq_aqui
# No Render, a BASE_URL será gerada automaticamente
# BASE_URL=https://seu-app.onrender.com
